#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.error {
  color: #cc0000;
}

.player-container {
  margin-top: 1em;
}

#author,
#source-code {
  position: absolute;
  top: 0.5em;
  font-size: 0.8em;
}

#author {
  right: 2em;
}

#source-code {
  left: 2em;
}
